<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamen</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>Aanvraag inhaalexamen</h2>

  <form action='/add' method='POST'>
    Name : <input type='text' name='name'><br /><br />
    Examen : <input type='text' name='description' size=100><br /><br />
    Reden : <input type='text' name='acteur'><br /><br />
    <button type='submit'>Vraag aan</button>
  </form>

</body>
</html>
