<!DOCTYPE html>
<html lang='en'>
<div class = 'container'>
    <h1>Delete Movie</h1>
 
    <form action='/delete' method="POST">
          Name : <input type = 'text' name='name'>
       <br />
       <button type='submit' >Delete</button>
 
    </form>
 </div>
</html>