<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamen</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>Resultaten van zoek</h2>
  <p class='movie'>
    <span><%= movie.name %></span>
    <span><%= movie.description %></span><br /><br />
    <span><b>acteur : </b><%= movie.acteur %></span>
  </p>

</body>
</html>
