<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamens</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>

  <h2>Zoek examen</h2>

  <form action='/search' method='POST'>
    Name : <input type='text' name='name'><br /><br />
    <button type='submit'>Zoek</button>
  </form>

  <br />
  <br />
  <br />

</body>
</html>
